body {
    background-color: darkblue;
}

#text {
    background-color: black;
    color: white;
    padding: 10px;
    display: none;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

#controls {
    border: 1px black solid;
    padding: 5px;
    display: none;
}

#stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
    display: none;
}

#enemyStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    padding-right: 10px;
}

#menu {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px; 
    display: flex;
    justify-content: space-around;
}
#savegame{
    display: none;
}
#intro {
    background-color: black;
    color: white;
    padding: 10px;

}
#main {
    max-width: 520px;
    max-height: 100px;
    margin: 0 auto;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    
}
#main img{
    width: 520px;
}